body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #4b1c76;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px #8b18d3;
}

.logo {
    margin-left: 120px;
}

.logo img {
    max-width: 35%;
    height: auto;
}

nav {
    padding: 0 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a.active {
    color:#4b1c76;
    font-size: 20px;
}

p {
    font-size: 18px;
}

.hero {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 120vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 90px;
}

.hero img {
    width: 610px;
    height: auto;
    margin-left: 20px;
}

.hero-content {
    color: #1e1e1e;
    text-align: left;
    margin-right: 300px;
}

.hero-content h1 {
    font-size: 4rem;
    margin: 0;
    white-space: nowrap;
}

.hero-content p {
    font-size: 1rem;
}

.btn {
    background-color:#4b1c76;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 8px;
    margin: 20px 0;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 4px 8px#8b18d3;
    border-radius: 8px;
    margin: 20px 0;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    padding-right: 40px;
}

.sobre-imagem {
    width: 30%;
    height: auto;
    margin-right: 120px;
    border-radius: 30px;
    padding-left: 40px;
}

.sobre-texto {
    flex: 1;
    padding-right: 40px;
}

.espaco {
    padding: 50px 0;
    padding-left: 100px;
    padding-right: 100px;
}

.espaco-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.espaco-texto {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
}

.espaco-imagem {
    flex: 1;
}

.espaco-imagem img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato-opcoes {
    text-align: center;
    margin-top: 20px;
}

.contato-opcoes img {
    width: 45px;
    height: 40px;
    transition: transform 0.3s;
}

.contato-opcoes a:hover img {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #000;
    color: #dbd8d8;
}

/* Orçamento cliente */

form {
    width: 75%;
    max-width: 700px;   
    margin: 40px auto;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
    border:1px solid #4b1c76;
    
}

form h2 {
    color: #333;
    text-align: center;
    margin-top: 10px;
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

form input{
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #4b1c76;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #4b1c76;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

form input[type="submit"]:hover {
    background-color: #444;
}


/* tela de login e cadastro */

/* Estilização do fundo preto semitransparente */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que fique acima de tudo */
    padding: 10px;
    
}

/* Estilização da caixa de login/cadastro */
.popup-content {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

/* Botão de envio */
button {
    width: 100%;
    padding: 10px;
    background: #4b1c76;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4b1c76;
}

/* Campo de input */
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Link para alternar entre login e cadastro */
.switch-popup {
    margin-top: 10px;
}

.switch-popup a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.switch-popup a:hover {
    text-decoration: underline;
}

open-btn{
    background: #8b18d3;

}